@model AISmartStudy.Models.StudyPlan
@using Markdig
@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">@Model.Topic</h1>

<div class="details-view mt-5">
    @Html.Raw(Markdown.ToHtml(Model.ContentJson ?? ""))
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
